
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        background-color: white;
        background:auto 100vw;
        font-family: 'Roboto', sans-serif;
        height: 100vh;
        font-size: 14px;
    }

/* se a tela tiver pelo menos 400px vai carregar esse tamanho tb conhecido como breakpoint*/
    @media (min-width: 400px) {
        body {
            font-size: 12px;
        }
    }
    @media (min-width: 600px) {
        body {
            font-size: 14px;
        }
    }
    @media (min-width: 1200px) {
            body {
                font-size: 16px;
            }
    }

    header{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
  .menuTopo{
    background-color: black;  
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  .menuTopo ul{
    display: flex;
    justify-content: space-around;
    }
  .menuTopo li{
      list-style: none;
    }
  .menuTopo a{
      display: block;
      padding: 10px 20px;
      transition: background-color 1s, color 1s;
  }
  .menuTopo a{
    color: sandybrown;
    text-decoration: none;
    }
  .menuTopo a:hover{
    color: black;
    text-decoration: underline;
    background-image: linear-gradient(to right, #8c07f4, #b500d8, #cd00bd, #db00a5, #e20090, #f00d7d, #f9256a, #fd3c58, #ff6040, #ff8127, #f6a10a, #e5bf05);
  }

  a{
    color: black;
    text-decoration: none;
    }
  a:hover{
      color: grey;
    }

.site-subtitle, 
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 3em;
  font-family: 'Pangolin', cursive; 
}

.site-subtitle {
 font-family: 'Roboto Light', sans-serif;
 line-height: 1.3em;
 font-size: 2em;
}

.img-topo{
  width: 100vw;
  height: auto;
}

  .contato,
  .portfolio{
    padding: 1em;
    min-height: 100vh; 
  }

  .contato h2,
  .portfolio h2{
    font-family: 'Pangolin', cursive;
    color: rgb(1, 15, 22);
    margin-right: 1em;
    font-size: 1em;
  }

   .portfolio .grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 160px;
    align-content: center;
    justify-content: center;
    height: calc(50vh - 1em - 20px);
}

    @media (min-width: 360px) {
    .portfolio .grid {
    grid-template-columns: repeat(2, 160px);
    align-content: center;
    justify-content: center;
    height: calc(70vh - 2em - 20px);
  }

    @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: repeat(3, 160px);
      align-content: center;
      justify-content: left;
      height: calc(80vh - 2em - 20px);
    }
  }
    @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat(4, 160px);
      align-content: center;
      justify-content: left;
      height: calc(100vh - 3em - 20px);
    }
  }

.potfolio figure {
  text-align: center;
}

  .img-portfolio{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: -35px;
    border-radius: 8px;
    transition: transform 500ms;
  }

  .img-portfolio:hover {
    transform: scale(1.2) rotate(-2deg);
  }
  
  .contato .icons {
    text-align: center;
  }

  .contato a {
    color: rgb(219, 183, 21);
    font-size: 2em;
    transition: text-shadow 1s;
  }
  
  .contato a:active,
  .contato a:hover  {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(223, 247, 7, 0.877);
  }
